.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #E3EDE9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family:'Poppins', sans-serif;
  color: black;
}


.Card 
{
  font-size: 5px; 
  font-family:'Poppins', sans-serif;
  color: black;
  text-align: left;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.question-list 
{ 
  text-align: left;
  font-family:'Poppins', sand-serif;
}
.card.screen-box
{
  background-color: white;
  border: 10px solid #878C8C;
  box-sizing: border-box;
  border-radius: 10px;
  
  color: #000
}